# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# logs
*.log

# Directories
.terraform/
.vagrant/

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

# Ignore Mac .DS_Store files
.DS_Store

# Ignored vscode files
.vscode/

# Ignore Any Generated JSON Files
./apply.json
./configversion.json
./run.template.json
./run.json
./variable.template.json
./variable.json
./workspace.template.json
./workspace.json
./create-policy.template.json
./create-policy.json
./variable.template.json
./variable.json

# Sentinel runtime directory
.sentinel

# TF config files
*.tfrc
